<footer class="bg-dark text-light py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>SupplierPro</h5>
                <p>Hệ thống quản lý nhà cung cấp và sản phẩm chuyên nghiệp</p>
            </div>
            <div class="col-md-6 text-md-end">
                <p>&copy; 2023 SupplierPro. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>