<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="/">SupplierPro</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link <%= currentPage === 'home' ? 'active' : '' %>" href="/">Trang chủ</a>
                    </li>
                    <% if (user) { %>
                    <li class="nav-item">
                        <a class="nav-link <%= currentPage === 'products' ? 'active' : '' %>" href="/products">Sản phẩm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= currentPage === 'suppliers' ? 'active' : '' %>" href="/suppliers">Nhà cung cấp</a>
                    </li>
                    <% } %>
                </ul>
                <ul class="navbar-nav">
                    <% if (user) { %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            <%= user.username %>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/auth/logout">Đăng xuất</a></li>
                        </ul>
                    </li>
                    <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/login">Đăng nhập</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/register">Đăng ký</a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
</header>